#container {
    width: 950px;
    /*margin-left: 30%*/
    margin: auto;
}

p,h1 {
    text-align: center;
}

.appContainer {
    /*text-align: center;*/
    margin-left: 30%;
    /*float: left;*/
    /*width: 100px;*/
}

table {
    /*font-family: arial, sans-serif;*/
    /*border-collapse: collapse;*/
    width: 70%;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 10px;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}
*/
body {
    background-image: url('http://i.imgur.com/vmTpxA4.jpg');
    background-size: cover;
}

button {
    background: transparent;
    border:1px solid #ccc;
    border-radius: 100px;
    font-size: 18px;
}

input {
    background: transparent;
    border-width: 1px;
    font-size: 18px;
    border:1px solid #ccc;
    border-radius: 50px;
}